/*Global*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #aa1718;
  z-index: 1;
}

body {
  padding: 0;
  margin: 0;
}
/*index.html styling*/

@media (max-width:992px){
  .welcome {
    margin-left: 15px;
  }
}

.welcometext {
  padding: 20px;
}

.lead {
  padding-top: 10px;
  text-align: left;
}

.welcome {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.welcome {
  overflow-y:auto;
  overflow-x:hidden;
}

.welcome {
  height: 80vh;
  width: 90vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*page1.html styling*/

.welcome {
  background-color: #e84610(232, 70, 16, 0.62) !important;
}

.jumbotron {
  background-color: rgba(232, 70, 16, 0.62) !important;
}

.lead {
  font-family: Arial;
  color: #fff;
  font-size: 20px !important;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.jumbotron {}

.navbar {
  background-color: #aa1718;
}

.bg-custom {
  color: #fff !important;
}

.navbar-light a {
  color: #fff !important;
}

/*Jumbotron styling*/

.first {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}


.second {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.third {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.fourth {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-size: cover;
  min-height: 50vh;
  z-index: 1;
}

.fifth {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.sixth {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.end {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  margin-bottom: 0px;
  z-index: 1;
}

/*main background*/

body {
  background-attachment: fixed;
  background-image: url(../images/crest2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  z-index: 1;
}

.display-4 {
  color: #dd2a28;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

/*desktop*/

@media (min-width:992px) {
  .fourth {
    margin-top: 20px;
  }
}

@media (min-width:992px) {
  .fourth {
    margin-top: 20px;
  }
}

@media (min-width:992px) {
  .third {
    margin-top: 20px;
    width: 45vw;
    float: right;
  }
}

@media (min-width:992px) {
  .fourth {
    margin-top: 20px;
  }
}

@media (min-width:992px) {
  .fifth {
    margin-top: 20px;
    width: 45vw;
    float: right;
  }
}

@media (min-width:992px) {
  .sixth {
    margin-top: 20px;
    width: 45vw;
    float: left;
  }
}

@media (min-width:992px) {
  .end {
    margin-top: 20px;
  }
}


/*mobile margins*/

@media (max-width:992px) {
  .first {
    margin-top: 20px;
  }

}

@media (max-width:992px) {
  .second {
    margin-top: 20px;
  }

}

@media (max-width:992px) {
  .third {
    margin-top: 20px;
  }

}

@media (max-width:992px) {
  .fourth {
    margin-top: 20px;
  }

}

@media (max-width:992px) {
  .fifth {
    margin-top: 20px;
  }

}

@media (max-width:992px) {
  .sixth {
    margin-top: 20px;
  }

}

@media (max-width:992px) {
  .end {
    margin-top: 20px;
  }

}

.wrapper {
  padding: 30px;
}

@media (max-width:992px) {
  .wrapper {
    padding: 0px;
  }

}