/*Global*/



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #aa1718;
}

/*page 1 styling*/

.welcome {
  background-color: #e84610 !important;
}

.jumbotron {
  background-color: #e84610 !important;
}

.lead {
  font-family: Arial;
  color: #fff;
  font-size: 20px !important;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.jumbotron {
  margin-top: 15px;
}

.navbar {
  background-color: #aa1718;
}

.bg-custom {
  color: #fff !important;
}

.navbar-light a {
  color: #fff !important;
}

.first {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 100vw;
  margin-bottom: 0px;
  z-index: 1;
}

.jumbotron {
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}


body {
  background-attachment: fixed;
  background-image: url(../images/crest2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  z-index: 1;
}

.display-4 {
  color: #dd2a28;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}