/*Global*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #aa1718;
  z-index: 1;
}

/*page 1 styling*/

.welcome {
  background-color: #e84610 !important;
}

.jumbotron {
  background-color: #e84610 !important;
}

.lead {
  font-family: Arial;
  color: #fff;
  font-size: 20px !important;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.jumbotron {}

.navbar {
  background-color: #aa1718;
}

.bg-custom {
  color: #fff !important;
}

.navbar-light a {
  color: #fff !important;
}


.first {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}


.second {
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

body {
  background-attachment: fixed;
  background-image: url(../images/crest2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  z-index: 1;
}

.display-4 {
  color: #dd2a28;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

@media (min-width:992px) {
  .first {
    margin-top: 20px;
    width: 45vw;
    float: right;
  }
}

@media (min-width:992px) {
  .second {
    margin-top: 20px;
    width: 45vw;
    float: left;
  }
}

body {
  padding: 0;
  margin: 0;
}