.footer {
  bottom: 0;
  text-align: left;
  color: #fff;
  width: 100vw;
  height: 25px;
  background-color: #aa1718;
  z-index: 1;
}

.col{
    padding: 0 0 0 0 !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/*index.html styling*/

.welcometext {
  padding: 20px;
  color: white;
  font-size: 20px;
  text-shadow: 0.03em 0 black,
  0 0.03em black,
  -0.03em 0 black,
  0 -0.03em black;
}

.lead {
  padding-top: 10px;
  text-align: left;
}

.layerindex {
    padding: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.layerthesix {
    padding: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.welcome {
  background-attachment: scroll;
  background-image: url(../images/anfield.jpg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.welcome {
  overflow-y: auto;
  overflow-x: hidden;
}

.welcome {
  height: 65vh;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*color*/

.welcome {
  background-color: #e84610(232, 70, 16, 0.62) !important;
}

.linktosix{
 margin-bottom: 20px;
}

.thesix {
  background-attachment: scroll;
  background-image: url(../images/cltrophy.jpg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.linktothesix {
  overflow-y: auto;
  overflow-x: hidden;
}

.thesix {
  overflow-y: auto;
  overflow-x: hidden;
}

.display-4 {
  color: #aa1718;
  padding: 10px 0px 0px 20px;
  
  font-family: 'Oswald', sans-serif;
}

.lead {
  color: #fff;
  font-size: 22px !important;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.navbar {
  background-color: #aa1718;
  font-family: 'Inria Serif', serif;
}

.bg-custom {
  color: #fff !important;
}

.navbar-light a {
  color: #fff !important;
}

/*card styling*/

.first {
  border-radius: 3px;
  background-attachment: scroll;
  background-image: url(../images/1977.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.second {
  border-radius: 3px;  
  background-attachment: scroll;
  background-image: url(../images/1978.jpg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.third {
  border-radius: 3px;  
  background-attachment: scroll;
  background-image: url(../images/1981.jpg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.fourth {
  border-radius: 3px;
  background-attachment: scroll;
  background-image: url(../images/1984.jpg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.fifth {
  border-radius: 3px;  
  background-attachment: scroll;
  background-image: url(../images/2005.jpg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.sixth {
  border-radius: 3px;
  background-attachment: scroll;
  background-image: url(../images/2019.jpg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  width: 95%;
  margin-bottom: 0px;
  z-index: 1;
}

.end {
  border-radius: 3px;
  background-attachment: scroll;
  background-image: url(../images/ynwa2.jpeg);
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  margin-bottom: 0px;
  z-index: 1;
}

/*main background image*/

body {
  background-attachment: fixed;
  background-image: url(../images/crest2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  z-index: 1;
}

/*desktop*/

@media (min-width:992px) {
  .desktopalign {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media (min-width:992px) {
  .end {
    margin: 20px 15px 20px 20px;
  }
}


/*mobile*/

@media (max-width:992px) {
  .cardalign {
    margin: 10px 0px 0px 7.5px;
  }
}

@media (max-width:992px) {
  .end {
    margin: 10px 0px 0px 7.5px;
  }
}

@media (max-width:992px) {
  .welcome {
    margin-right: 15px;
  }
}

@media (max-width:992px) {
  .thesix {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/*wrapper*/

@media (min-width:992px) {
  .wrapper {
    padding: 30px;
    margin-right: 10px;
  }
}

@media (max-width:992px) {
  .wrapper {
    padding: 0px;
  }

}

/*welcome*/

@media (max-width:992px) {
  .welcome {
    margin-left: 15px;
  }
}